{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Instagram Tracker{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <link rel="stylesheet" href="{% static 'tracker/css/styles.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{% static 'tracker/js/scripts.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
