<!DOCTYPE html>
<html>
<head>
    <title>Dashboard Tracker</title>
</head>
<body>
    <h2>Daftar Tracker Link</h2>
    <table border="1" cellpadding="5">
        <tr><th>Original URL</th><th>Tracker Link</th><th>Clicks</th><th>Detail</th></tr>
        {% for t in trackers %}
        <tr>
            <td>{{ t.original_url }}</td>
            <td><a href="{% url 'track_view' t.uuid %}" target="_blank">{{ request.build_absolute_uri|slice:":-1" }}/view/p/{{ t.uuid }}</a></td>
            <td>{{ t.clicks.count }}</td>
            <td><a href="{% url 'detail' t.uuid %}">Lihat Detail</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
